@{
	ViewData["Title"] = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
			contentHeight: 700,
			defaultDate: new Date(),
			timeFormat: 'h(:mm)a',
			initialView: 'dayGridMonth',
			events: @Html.Raw(ViewData["EventList"]),
			resources: @Html.Raw(ViewData["ResourceList"]),
			headerToolbar: {
				left: 'today prev,next',
				center: 'title',
				right: 'timeGridWeek,dayGridMonth,listMonth, '
			},
			eventClick: function (calEvent) {
				selectedEvent = calEvent.event;
				$('#myModal #eventTitle').text(calEvent.event.title);
				var $description = $('<div/>');
				console.log($description)
				$description.append($('<p/>').html('<b>Start:</b>' + moment(calEvent.event.start).format('DD-MM-YYYY HH:mm:ss')));

				if (calEvent.event.end != null) {
					$description.append($('<p/>').html('<b>End:</b>' + moment(calEvent.event.end).format('DD-MM-YYYY HH:mm:ss')));
				}

				$description.append($('<p/>').html('<b>Description:</b>' + calEvent.event.extendedProps.description));

				$('#myModal #pDetails').empty().html($description);
				$('#myModal').modal('show');
			}
		});
		calendar.render();



		// handle logic
		$('#btnDelete').click(function () {
			if (selectedEvent != null && confirm('Are you sure')) {
				$.ajax({
					type: 'POST',
					url: '/Event/Delete',
					data: {
						id: selectedEvent.id,
					},
					success: function (data) {
						alert('Susscess');
					},
					error: function() {
						alert('Failed');
					}
				});
			};
		});

		$('#btnEdit').click(function () {
		});
	});
</script>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span id="eventTitle"></span>
				</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<button id="btnDelete" class="btn btn-danger btn-sm col-md-2 pull-right">
					Delete
				</button>
				<button id="btnEdit" class="btn btn-warning btn-sm col-md-2 pull-right" style="margin-left: 5px">
					Edit
				</button>
				<p id="pDetails"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="text-center">
	<h1 class="display-4">Welcome to my Calender</h1>
	<div id="calendar"></div>
</div>
<div class="row">
	<div class="col-md-6">
		<a asp-controller="Event" asp-action="Index">Events</a>
	</div>
	<div class="col-md-6">
		<a asp-controller="Location" asp-action="Index">Locations</a>
	</div>
</div>
